<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAz4uNRr-59ZNtBTMYT5Oyl_UuFA-XRQik</string>
	<key>GCM_SENDER_ID</key>
	<string>1011211959880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tmotobd.passenger</string>
	<key>PROJECT_ID</key>
	<string>local-ride-sharing</string>
	<key>STORAGE_BUCKET</key>
	<string>local-ride-sharing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011211959880:ios:48adf0e214fdb328fe227d</string>
</dict>
</plist>